.general {
    height: 100vh;
    width: 100vw;
    padding: 2px;
    .userInfo {
        display: flex;
        height: 85%;
        padding: 5px;
        .personalInfo {
            width: 48%;
            background: black;
            color: white;
            padding: 5px;
            .photo_name {
                width: 100%;
                height: 40%;
                display: flex;

                .fullName {
                    padding: 5px ;
                    height: 90%;
                    width: 45%;
                    font-size: 1.7vh;
                   align-items: center;
                }
                .photo {
                    width: 50%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;

                        object-fit: cover;
                    }
                }
            }

            .about {
                width: 100%;
                height: 30%;
               justify-content: center;
                //  min-height: 300px;
                font-size: 1.2vw;
                font-size: 1.3vh;
            }

            .separator {
                background: white;
                height: 3px;
                width: 35%;
                margin: 5px;
            }

            .contactInfo {
                width: 100%;
                height: 30%;
                flex-wrap: wrap;
                div {
                    padding: 0.5%;
                    font-size: 1.3vw;
                    font-size: 1.2vh;
                    //  width: 50%;
                    height: 15%;
                    img {
                        height: 100%;
                        width: fit-content;
                    }
                }
            }
        }
        .lifePath {
            height: 100%;
            width: 48%;
            padding: 0.5%;
            font-size: 1.5vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
           

            .vertSeparator {
                background: black;
                width: 1vw;
                height: 10vh;
                margin-left: 80%;
            }

            .separator2 {
                background: black;
                height: 3px;
                width: 100%;
                margin-top: 1%;
            }

            .education {
               
                margin-top: 0.5vh;
            }

            .skills {
               
                ul {
                    display: flex;
                    flex-wrap: wrap;

                    li {
                        width: 50%;

                        list-style-type: none;
                    }
                }
            }
        }
    }

    .links {
        background: black;
        display: flex;
        height: 10%;

        padding: 5px;
        a {
            display: flex;
            width: 33.3%;
            height: 100%;

            img {
                margin: 0 auto;
            }
        }
    }
}
